html
	head
		title C.H.I.P - Camera
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
	body
		nav.blue-grey.darken-4
			ul.right
				li
					a(href="/") Inicio
				li
					a(href="gpio.html") G.P.I.O
				li
					a(href="#") Camara
				li
					a(href="#file") Archivos
				li
					a(hreF="setup.html") Configuraciones
		#file.modal.bottom-sheet
			.modal-content
				h4 Subir archivo
				.file-field.input-field
					.btn
						span File
						input(type="file")
					.file-path-wrapper
						input.file-path.validate(type="text")
			.modal-footer
				a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") OK
		script(type="text/javascript").
			$('.modal').modal();