html
	head
		title C.H.I.P - Setup
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
		script(src="/socket.io/socket.io.js")
	body.row
		nav.nav-extended.blue-grey.darken-4
			.nav-wrapper
				ul.right
					li
						a(href="/") Home
					li
						a(href="gpio") G.P.I.O
					li
						a(href="camera") Camera
					li
						a(href="#file") Files
					li
						a(hreF="#") Setup
			.nav-content
				ul.tabs.tabs-transparent
					li.tab
						a(href="#setup-temperature") Temperature
					li.tab
						a(href="#setup-gpio") GPIO
					li.tab
						a(href="#setup-files") Files
					li.tab
						a(href="#setup-camera") Camera
		#file.modal.bottom-sheet
			.modal-content
				h4 Upload file
				.file-field.input-field
					.btn
						span File
						input(type="file")
					.file-path-wrapper
						input.file-path.validate(type="text")
			.modal-footer
				a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") OK
		div#setup-temperature
		div#setup-gpio
		div#setup-files
		div#setup-camera
		script(type="text/javascript").
			$('.modal').modal();